bert4torch==0.2.9
# certifi==2024.12.14
charset-normalizer==3.4.1
click==8.1.8
filelock==3.16.1
fsspec==2024.12.0
huggingface-hub==0.27.0
idna==3.10
jieba==0.42.1
joblib==1.4.2
numpy==1.24.4
packaging==24.2
pillow==10.4.0
PyYAML==6.0.2
regex==2024.11.6
requests==2.32.3
rouge==1.0.1
sacremoses==0.1.1
six==1.17.0
tokenizers==0.10.3
torch==1.10.1+cu113
torch4keras==0.0.8
torchaudio==0.10.1+cu113
torchvision==0.11.2+cu113
tqdm==4.67.1
transformers==4.15.0
typing_extensions==4.12.2
urllib3==2.2.3
